@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

.home-img {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.home-text {
  font-family: "DM Serif Display", serif;
}

.dark {
  background-color: #333;
  color: rgb(70, 9, 70);
}
.light {
  background-color: #fff;
  color: #333;
}
